@font-face {
  font-family: "PT Sans";
  src: url("./assets/fonts/PTSans-Regular.ttf") format('opentype');
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("./assets/fonts/PTSans-Bold.ttf") format('opentype');
}

@font-face {
  font-family: "PT Sans Bold Italic";
  src: url("./assets/fonts/PTSans-BoldItalic.ttf") format('opentype');
}

@font-face {
  font-family: "PT Sans Italic";
  src: url("./assets/fonts/PTSans-Italic.ttf") format('opentype'),
}

.App {
  text-align: center;
}
