@font-face {
  font-family: "PT Sans";
  src: url("./assets/fonts/PTSans/PTSans-Regular.ttf") format('opentype');
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("./assets/fonts/PTSans/PTSans-Bold.ttf") format('opentype');
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeue/BebasNeue-Regular.ttf") format('opentype'),
}

.App {
  text-align: center;
}
