.swiper-wrapp {
  position: absolute;
  max-width: 1200px;
  height: 135px;
  margin: 350px 400px;
}

.swiper {
  overflow: visible !important;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
}

.swiper-slide {
  text-align: left;
  max-width: 30%;
  height: 135px;
}

.swiper-slide:nth-child(2n) {
  max-width: 35%;
}

.swiper-slide:nth-child(3n) {
  max-width: 35%;
}

.swiper-slide:nth-child(4n) {
  max-width: 30%;
}

.swiper-title {
  font-family: 'Impact';
  font-style: bold;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  color: #3877EE;
  margin-bottom: 15px;
}

.swiper-content {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute !important;
  top: -620px !important;
  left: 420px !important;
  width: 440px !important;
  height: 434px !important;
  border: none !important;
  display: flex !important;
}

.swiper-pagination-bullet {
  position: absolute !important;
  background-color: black !important;
  color: black !important;
  width: 56px !important;
  height: 56px !important;
  border: 1px solid #42567A !important;
  border-radius: 50% !important;
  display: flex !important;
  font-size: 22px !important;
  align-items: center !important;
  justify-content: center !important;
  transform: scale(0.1) !important;
  opacity: 1 !important;
  transition: .2s !important;
}

.swiper-pagination-bullet:hover {
  cursor: pointer !important;
  color: black !important;
  background-color: #F4F5F9 !important;
  transform: scale(1.0) !important;
}

.swiper-pagination-bullet-active {
  color: black !important;
  background-color: #F4F5F9 !important;
  transform: scale(1.0) !important;
}

.swiper-pagination-bullet:nth-child(1) {
  right: 0px !important;
  top: 0 !important;
}

.swiper-pagination-bullet:nth-child(2){
  left: 0 !important;
  top: 0 !important;
}

.swiper-pagination-bullet:nth-child(3) {
  left: 0 !important;
  bottom: 0 !important;
}

.swiper-pagination-bullet:nth-child(4) {
  right: 0 !important;
  bottom: 0 !important;
}